---
import { getCurrentCartStoreId } from "../headless/CurrentCart/CurrentCartContext";
import LoadingDots from "../loading-dots.astro";
import {
  CurrentCartEmptyState,
  CurrentCartIcon,
  CurrentCartLineItems,
  CurrentCartModal,
  CurrentCartModalClose,
  CurrentCartModalContent,
  CurrentCartTaxes,
  CurrentCartTotal,
} from "../ui/CurrentCart";

const currentCartStoreId = getCurrentCartStoreId();
---

<CurrentCartIcon
  client:wait-for-store={currentCartStoreId}
  currentCartStoreId={currentCartStoreId}
/>
<CurrentCartModal
  client:wait-for-store={currentCartStoreId}
  currentCartStoreId={currentCartStoreId}
>
  <div class="flex items-center justify-between">
    <p class="text-lg font-semibold">My Cart</p>
    <CurrentCartModalClose
      currentCartStoreId={currentCartStoreId}
      client:wait-for-store={currentCartStoreId}
    />
  </div>

  <CurrentCartEmptyState
    currentCartStoreId={currentCartStoreId}
    client:wait-for-store={currentCartStoreId}
  />

  <CurrentCartModalContent
    currentCartStoreId={currentCartStoreId}
    client:wait-for-store={currentCartStoreId}
  >
    <CurrentCartLineItems
      currentCartStoreId={currentCartStoreId}
      client:wait-for-store={currentCartStoreId}
    />
    <div class="py-4 text-sm text-neutral-500 dark:text-neutral-400">
      <div
        class="mb-3 flex items-center justify-between border-b border-neutral-200 pb-1 dark:border-neutral-700"
      >
        <p>Taxes</p>
        <CurrentCartTaxes
          currentCartStoreId={currentCartStoreId}
          client:wait-for-store={currentCartStoreId}
        />
      </div>
      <div
        class="mb-3 flex items-center justify-between border-b border-neutral-200 pb-1 pt-1 dark:border-neutral-700"
      >
        <p>Shipping</p>
        <p class="text-right">Calculated at checkout</p>
      </div>
      <div
        class="mb-3 flex items-center justify-between border-b border-neutral-200 pb-1 pt-1 dark:border-neutral-700"
      >
        <p>Total</p>
        <CurrentCartTotal
          currentCartStoreId={currentCartStoreId}
          client:wait-for-store={currentCartStoreId}
        />
      </div>
    </div>
    <form method="get" action="/api/checkout" data-astro-reload>
      <button
        class="block w-full rounded-full bg-blue-600 p-3 text-center text-sm font-medium text-white opacity-90 hover:opacity-100"
        type="submit"
      >
        {false ? <LoadingDots class="bg-white" /> : "Proceed to Checkout"}
      </button>
    </form>
  </CurrentCartModalContent>
</CurrentCartModal>
